index.css body {
  font: italic 1.2em "Fira Sans", serif;
  margin: 0px;
  align-items: center;
  justify-content: center;
}

ol,
ul {
  padding-left: 100px;
}

.board-row:after {
  align-items: center;
  justify-content: center;
  clear: both;
  content: " ";
  display: table;
}

.status {
  margin-bottom: 50px;
}

.square {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;

  height: 40vmin;
  pointer-events: none;

  align-items: center;

  justify-content: center;

  background: grey;
  border: 1px solid red;
  float: 1px;

  font-size: 80px;
  font-weight: bold;

  line-height: 60px;

  margin-right: 0px;
  margin-top: 0px;

  padding: 0;
  text-align: center;

  width: 100px;
  height: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: rgb(221, 221, 221);
}

.game {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: center;
  width: 100%;
  height: 100%;

  flex-direction: row;
}

.game-info {
  margin-left: auto;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
}
